# Python
*.py[cod]
__pycache__/
*.so
secrets
# Virtualenv
venv/
ENV/
env/
.env
.env_example
.venv/
env.bak/
venv.bak/
sync_database

# FastAPI
*.log
*.sqlite3

# VS Code
.vscode/

# Pytest
.cache/
*.pytest_cache/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Docker
docker-compose.override.yml

local_setup/data/*
.local_setup/data/*
